/* this attempts to use BEM as the convention for naming CSS styes */

body { 
    top: 0; 
    margin: 0;
}
.nav-bar { 
    background-color: black;
    min-height: 50px;
    width: 100%;
    top: 0; 
}