/* this attempts to use BEM as the convention for naming CSS styes */

body { 
    top: 0; 
    margin: 0;
}
.nav-bar { 
    background-color: black;
    min-height: 50px;
    width: 100%;
    top: 0; 
}
.hero-pressure, .hero-peer { 
    max-width: 100%;
    font-size: 150px;
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.hero-peer { 
    font-size: 300px;
}

.hero-pressure { 
    margin-top: -80px;
}